button{
  border-radius: 4px;
  border: none;
  color: #ffff;
  height: 35px;
  text-align: center;
}

button:hover{
  cursor: pointer;
}

.main{
  background: #14ec0b;
}

.secondary{
  background: #3a83f3;
}
